<nav class="indigo darken-4">
  <div class="nav-wrapper" *ngIf="{
        status: authService.authStatus$ | async,
        user: authService.currentUser$ | async
      } as auth;"
  >

    <ul class="left mr-10">
      <li><a class="brand-logo brand" routerLink="/home">Postline</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
<!--      <li *ngIf="auth?.status?.isAuthenticated"><a class="waves-effect waves-light btn pink lighten-2"-->
<!--             routerLink="/user/profile">-->
<!--        <i class="material-icons left ">account_circle</i>User-->
<!--      </a>-->
<!--      </li>-->
            <li   *ngIf="!auth?.status?.isAuthenticated">

                <a class="waves-effect waves-light btn deep-orange lighten-2"
                   routerLink="/login">
                  Login
                </a>

            </li>
<li   *ngIf="!auth?.status?.isAuthenticated">

                <a class="waves-effect waves-light btn deep-orange lighten-2"
                   routerLink="/registration">
                  Registration
                </a>

            </li>


      <li *ngIf="auth?.status?.isAuthenticated"><a class="waves-effect waves-light btn deep-orange lighten-2"
             routerLink="/user/logout">
        <i class="material-icons left ">account_circle</i>Logout
      </a>
      </li>


<!--      <li><a routerLink="/manager" class="waves-effect waves-light btn pink lighten-2">-->
<!--        <i class="material-icons left">account_circle</i>Manager</a>-->
<!--      </li>-->


    </ul>
  </div>
</nav>
<app-alert></app-alert>
<router-outlet></router-outlet>
