<section fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxFlex>
    <p>500 Server Error</p>
    <p>We are sorry for the inconvinience, plese report this error to admin. Email a@a.com</p>
  </div>
<!--  <div >-->

<!--    <input type="checkbox" (change)="checkChanged()" color="primary" checked="checked">I want to report this error.-->

<!--  </div>-->
  <div fxFlex *ngIf="reportedError">
    <mat-progress-spinner mode="determinate" [value]="errorPercentage"></mat-progress-spinner>
    <h1>{{errorPercentage}}%</h1>
  </div>
</section>
