.alert span {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 4px;



}
.card {
  margin:  10px auto;
  text-align: center;
  padding: 10px 5px;
}

.close{
  cursor: pointer;
  color:unset;
}

.custom_alert{
  text-align: center;
  margin:10px;
  z-index: 10;
}


