<nav class="indigo darken-4">

    <ul class="left mr-10">
      <li><a class="brand-logo brand" routerLink="/home">Postline</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--      <li *ngIf="auth?.status?.isAuthenticated"><a class="waves-effect waves-light btn pink lighten-2"-->
      <!--             routerLink="/user/profile">-->
      <!--        <i class="material-icons left ">account_circle</i>User-->
      <!--      </a>-->
      <!--      </li>-->
      <li   *ngIf="!isUserAuthenticated">

        <a class="waves-effect waves-light btn deep-orange lighten-2"
           [routerLink]="['/authentication/login']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
        >
          Login
        </a>

      </li>
      <li   *ngIf="!isUserAuthenticated">

        <a class="waves-effect waves-light btn deep-orange lighten-2"
           [routerLink]="['/authentication/register']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
        >
          Registration
        </a>

      </li>
      <li  >
        <a class="waves-effect waves-light btn deep-orange lighten-2"
           [routerLink]="['/privacy']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
        >
          Privacy
        </a>

      </li>


      <li *ngIf="isUserAuthenticated"><a class="waves-effect waves-light btn deep-orange lighten-2"
                                         (click)="logout()" >
        <i class="material-icons left ">account_circle</i>Logout
      </a>
      </li>


      <!--      <li><a routerLink="/manager" class="waves-effect waves-light btn pink lighten-2">-->
      <!--        <i class="material-icons left">account_circle</i>Manager</a>-->
      <!--      </li>-->


    </ul>

</nav>

