<div class="my_container">
  <div *ngIf="showError" class="error_text">
    <span [innerHTML]="errorMessage"></span>
  </div>

  <div *ngIf="showSuccess" class="success_text">
    Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
  </div>

  <h4 class="header">Reset Password </h4>

  <div class="card s11">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input id="password" type="password" class="validate" formControlName="password" required>
        <label for="password">Password</label>
        <span class="helper-text" data-error="Password is not valid" data-success="right">At least 1 symbol</span>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input id="confirm" type="password" class="validate" formControlName="confirm" required>
        <label for="confirm">Confirm Password</label>
        <span class="helper-text" data-error="Password is not valid" data-success="right">At least 1 symbol</span>
      </div>
    </div>


    <br>

    <div class="submitBtn">
      <button class="btn waves-effect waves-light  deep-orange lighten-2" type="submit" name="action"
              [disabled]="resetPasswordForm.invalid"
      >Submit
        <i class="material-icons right">send</i>
      </button>
    </div>


  </form>
  </div>
</div>
