/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital@1&family=Open+Sans&family=Titan+One&display=swap');

body{
  background: #f3f3dd;
  font-family: 'Lora', serif;
}

.btn{
  border-radius: 7px;
}
.header{
  color: white;
}

.col.m6{
  width:100%
}

.author{
  padding:20px;
  color:dodgerblue;
}

.rating{
  float: right;
  padding: 5px;
  color:brown;
}

.card{
  border-radius: 10px;
  border: #f3f3dd solid 2px;
}

.card-content{
  color: black;
  text-align: center;
}

.created{
  float: right;
  padding: 5px;
  color: dodgerblue;
  font-family: 'Lobster', cursive;
}

.general_title{
  color: darkred;
}

