
<div class="filterSearchContainer">
<div class="btnContainer">
<app-accordion [title]="firstPanel" [isHidden]="true" [active]="postParams.categoryName!=''||postParams.postFrom !=''||postParams.postTo !=''">
  <div class="btnCommand">
    <div>
      <mat-form-field>
        <mat-select placeholder="Categories" [(ngModel)]="postParams.categoryName" >
          <mat-option *ngFor="let category of categories" [value]="category.categoryName">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="datePickers">

      <div class="input-field col">
      <input type="date" id="From" class="datepicker" [(ngModel)]="postParams.postFrom">
      <label for="From">From: </label>
      </div>

      <div class="input-field ">
      <input type="date" id="To" class="datepicker" [(ngModel)]="postParams.postTo">
      <label for="To">To: </label>
      </div>
    </div>


    <button class="applyFilter" (click)="onClear('filter')" >Clear filter</button>
    <button class="applyFilter" (click)="getAllPosts()">Apply filter</button>
  </div>
</app-accordion>

  <app-accordion [title]="secondPanel" [isHidden]="true" [active]="postParams.searchTerm!=''">
  <div class="btnCommand">

    <div class="search">
    <input type="search"  #search placeholder="Search" [(ngModel)]="postParams.searchTerm">
    </div>

    <button class="applyFilter" (click)="onClear('search')" >Clear search</button>
    <button class="applyFilter" (click)="getAllPosts()">Search</button>
  </div>
</app-accordion>

</div>


</div>




<div class="container">

  <h2 class="general_title">All Posts</h2>


  <ul>
    <li *ngFor="let post of posts">

      <div class="card_holder">
        <div class="col s12 m6">
          <div class="card">
            <div class="author">Author:  {{post.firstName}} {{post.lastName}}
              <div class="rating">Rating:  {{post.rating}}</div>
            </div>

            <div class="card-content">
              <p class="card-title">{{post.title}}</p>
              <span>{{post.body}}</span>
            </div>
            <div class="card-action">
              <a (click)="navigateToDetails(post.id)">See details</a>
              <div class="created">  {{post.postDate |date:"dd/MM/yy"}}</div>
            </div>
          </div>
        </div>
      </div>

    </li>
  </ul>


</div>

<div class="paginator">

  <div class="text_paginator">Items per page:</div>

  <div><input #inputPages (keyup)="handleNumberOfPages(inputPages.value)" [value]="paginator.pageSize"
              class="numberPerPage validate" type="number" min="1" max="200"></div>
  <span class="paginator_data"> {{paginator.currentPage}} of {{paginator.totalPages}}</span>
  <button class="btn_arrows" [disabled]="!paginator.hasPrevious" (click)="onClick('left')"><i
    class="material-icons">chevron_left</i></button>
  <button class="btn_arrows" [disabled]="!paginator.hasNext" (click)="onClick('right')"><i
    class="material-icons">chevron_right</i></button>
</div>




