 .col.m6{
width:100%
}

.author{
  padding:20px;
  color:dodgerblue;
}

.rating{
  float: right;
  padding: 5px;
  color:brown;
}

.card{
border-radius: 10px;
  border: #f3f3dd solid 2px;
}

.card-content{
  color: black;
  text-align: center;
}

.created{
  float: right;
  padding: 5px;
  color: dodgerblue;
  font-family: 'Lobster', cursive;
}

.general_title{
  color: darkred;
}
